@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
* {
  font-family: 'cwTeXYen', sans-serif;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

html, body {
  width: 100%;
  height: 100%; }

.pc_menu {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .pc_menu .navbar_left img {
    height: 40px;
    width: 220px;
    margin-top: 30px;
    margin-left: 42px; }
  .pc_menu .navbar_right {
    margin-top: 40px;
    margin-right: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .pc_menu .navbar_right a {
    margin-left: 60px;
    text-decoration: none;
    font-size: 16px;
    color: #3F5D45;
    font-weight: bold; }
  .pc_menu .ls {
    margin-top: 5px; }

#shopping_cart i.material-icons {
  font-size: 24px;
  line-height: 24px;
  color: #3F5D45; }

.mobile_menu {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 30px; }
  .mobile_menu .icon img {
    width: 150px;
    height: 27px; }
  .mobile_menu .hamburger {
    width: 18px;
    height: 12px; }
    .mobile_menu .hamburger span {
      width: 18px;
      height: 2px;
      display: inline-block;
      position: relative;
      margin: 15px 0px;
      background-color: #3F5D45; }
    .mobile_menu .hamburger span:before, .mobile_menu .hamburger span:after {
      content: "";
      background-color: #3F5D45;
      width: 18px;
      height: 2px;
      position: absolute;
      left: 0;
      top: -5px; }
    .mobile_menu .hamburger span:after {
      top: 5px; }
  .mobile_menu #shopping_cart i.material-icons {
    margin-top: 3px; }

@media screen and (max-width: 768px) {
  .pc_menu {
    display: none; }
  .mobile_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.header {
  width: 960px;
  height: 496px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 992px) {
    .header {
      max-width: 100%; } }
  .header .image_wrap {
    background-image: url("../images/header_image.jpg");
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover; }
    @media screen and (max-width: 768px) {
      .header .image_wrap {
        height: 70%; } }
  .header .selection {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 256px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 405px; }
    @media screen and (max-width: 768px) {
      .header .selection {
        top: initial; } }
    .header .selection .items_wrap {
      height: 100%;
      width: 260px;
      top: 0px;
      z-index: 4;
      overflow: hidden;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      cursor: pointer; }
      @media screen and (max-width: 992px) {
        .header .selection .items_wrap {
          width: 33%; } }
      .header .selection .items_wrap #blur_pic1 {
        background-image: url("../images/recommend_item.jpg"); }
      .header .selection .items_wrap #blur_pic2 {
        background-image: url("../images/popular_item.jpg"); }
      .header .selection .items_wrap #blur_pic3 {
        background-image: url("../images/new_item.jpg"); }
      .header .selection .items_wrap .blur_bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        -webkit-filter: blur(5px);
                filter: blur(5px);
        -webkit-transition-duration: 0.2s;
             -o-transition-duration: 0.2s;
                transition-duration: 0.2s; }
      .header .selection .items_wrap .text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: #3F5D45;
        height: 100%;
        width: 100%;
        opacity: 0.8; }
      .header .selection .items_wrap .text:hover {
        background-color: #FFE180; }
        .header .selection .items_wrap .text:hover p {
          color: #3F5D45;
          font-weight: bold; }
      .header .selection .items_wrap p {
        font-size: 24px;
        color: white;
        -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
        letter-spacing: 3px;
        text-align: center; }
        @media screen and (max-width: 576px) {
          .header .selection .items_wrap p {
            font-size: 20px; } }

.intro_wrap {
  margin-top: 347px; }
  .intro_wrap .why {
    height: 420px;
    background-color: #EAF0ED; }
    .intro_wrap .why .content_wrap {
      top: -30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 905px;
      height: 460px;
      margin-left: auto;
      margin-right: auto;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .intro_wrap .why .content_wrap .img {
        height: 460px;
        width: 460px;
        background-position: center center;
        background-size: cover; }
      .intro_wrap .why .content_wrap .textbox {
        width: 256px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse; }
        .intro_wrap .why .content_wrap .textbox p {
          -webkit-writing-mode: vertical-rl;
              -ms-writing-mode: tb-rl;
                  writing-mode: vertical-rl;
          height: 280px;
          line-height: 30px;
          font-size: 16px;
          color: #8DA291;
          height: 460px;
          padding-top: 70px;
          padding-bottom: 70px;
          padding-left: 64px; }
  .intro_wrap #why_make {
    margin-bottom: 105px; }
    .intro_wrap #why_make #make_textImg {
      background-image: url("../images/make_textImg.svg");
      width: 89px;
      height: 307px;
      right: 0px;
      margin-left: 20px; }
    .intro_wrap #why_make #make_img {
      background-image: url("../images/make_img.jpg"); }
  .intro_wrap #why_eat #eat_textImg {
    background-image: url("../images/eat_textImg.svg");
    width: 88px;
    height: 303px; }
  .intro_wrap #why_eat #eat_image {
    right: 0px;
    background-image: url("../images/eat_img.jpg"); }
  .intro_wrap .reasonImg_wrap {
    background-image: url("../images/eat_reason.svg");
    background-repeat: no-repeat;
    height: 327px;
    width: 89px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
    margin-bottom: 80px; }

.DailySpecial_wrap {
  height: 436px;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .DailySpecial_wrap .today_item {
    width: 300px; }
    .DailySpecial_wrap .today_item .top {
      height: 315px; }
      .DailySpecial_wrap .today_item .top .img {
        height: 315px;
        width: 300px;
        background-size: cover;
        background-position: center center; }
      .DailySpecial_wrap .today_item .top #todaySpecial_img1 {
        background-image: url("../images/todaySpecial1.jpg"); }
      .DailySpecial_wrap .today_item .top #todaySpecial_img2 {
        background-image: url("../images/todaySpecial2.jpg"); }
      .DailySpecial_wrap .today_item .top #todaySpecial_img3 {
        background-image: url("../images/todaySpecial3.jpg"); }
      .DailySpecial_wrap .today_item .top .tag {
        position: absolute;
        top: 0px;
        -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
        left: 10px;
        padding: 10px;
        font-size: 16px;
        letter-spacing: 4px;
        background-color: #3F5D45;
        color: #EAF0ED; }
      .DailySpecial_wrap .today_item .top .loved {
        background-image: url("../images/loved.svg");
        width: 22px;
        height: 22px;
        position: absolute;
        top: 19px;
        right: 22px; }
    .DailySpecial_wrap .today_item .bottom {
      height: 121px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      color: #3F5D45; }
      .DailySpecial_wrap .today_item .bottom .item_name {
        font-size: 20px;
        padding: 14px 33px;
        border-right: solid 1px #EAF0ED;
        border-left: solid 1px #EAF0ED; }
      .DailySpecial_wrap .today_item .bottom .price {
        font-size: 20px;
        font-weight: bold;
        padding: 14px 25px 14px 25px;
        border-right: solid 1px #EAF0ED; }
      .DailySpecial_wrap .today_item .bottom .addToCart {
        font-size: 24px;
        padding: 16px 90px;
        font-weight: bold;
        background-color: #EAF0ED; }

.email_wrap {
  margin-top: 60px;
  height: 116px;
  background-color: #3F5D45; }
  .email_wrap .container {
    width: 76%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .email_wrap #icon {
    background-image: url("../images/logo-light.svg");
    height: 40px;
    width: 40px;
    margin: 38px 0px 38px 0px; }
    .email_wrap #icon p {
      width: 216px;
      font-size: 24px;
      color: #EAF0ED;
      left: 60px;
      line-height: 40px; }
  .email_wrap input {
    width: 252px;
    height: 56px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #EAF0ED;
    border: none; }
  .email_wrap .email_wrap {
    position: absolute;
    height: 56px;
    width: 64px;
    background-color: #EAF0ED;
    bottom: 30px;
    left: -64px; }
    .email_wrap .email_wrap .material-icons {
      font-family: 'Material Icons';
      position: absolute;
      height: 24px;
      width: 24px;
      line-height: 56px;
      left: 20px;
      color: #3F5D45; }
  .email_wrap .btn {
    position: absolute;
    width: 64px;
    height: 56px;
    background-color: #FFE180;
    bottom: 30px;
    left: 252px; }
    .email_wrap .btn .material-icons {
      height: 16px;
      width: 16px;
      color: #3F5D45;
      left: 20px;
      line-height: 56px; }

.footer {
  background-color: #EAF0ED; }
  .footer #info_wrap {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer #left_info .icon {
    background-image: url("../images/logotype-lg-dark.svg");
    height: 26px;
    width: 171px;
    margin-top: 39px;
    background-repeat: no-repeat; }
  .footer #left_info .shop_info {
    margin-top: 115px;
    font-family: 'Helvetica Neue';
    color: #3F5D45;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold; }
  .footer #left_info .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px; }
    .footer #left_info .link #email {
      background-image: url("../images/ic-line@.svg");
      height: 32px;
      width: 32px;
      margin-right: 8px; }
    .footer #left_info .link #facebook {
      background-image: url("../images/ic-facebook.svg");
      height: 32px;
      width: 32px; }
  .footer #right_slogan #slogan {
    margin-left: auto;
    background-image: url("../images/sm-今天是個吃甜點的好日子.svg");
    height: 218px;
    width: 59px;
    margin-top: 30px; }
  .footer #right_slogan #right_reserved {
    margin-top: 46px; }
    .footer #right_slogan #right_reserved p {
      color: #3F5D45;
      font-size: 16px;
      line-height: 19px;
      font-family: "Times New Roman", Times, serif; }

/*# sourceMappingURL=style.css.map */
